<?xml version="1.0" standalone="no"?>
<!DOCTYPE entity PUBLIC "-//UC Berkeley//DTD MoML 1//EN"
    "http://ptolemy.eecs.berkeley.edu/xml/dtd/MoML_1.dtd">
<entity name="system" class="ptolemy.actor.TypedCompositeActor">
    <property name="_createdBy" class="ptolemy.kernel.attributes.VersionAttribute" value="11.0.devel">
    </property>
    <property name="SDF Director" class="ptolemy.domains.sdf.kernel.SDFDirector">
        <property name="iterations" class="ptolemy.data.expr.Parameter" value="(endTime-beginTime)/timeStep+1">
        </property>
        <property name="vectorizationFactor" class="ptolemy.data.expr.Parameter" value="1">
        </property>
        <property name="allowDisconnectedGraphs" class="ptolemy.data.expr.Parameter" value="true">
        </property>
        <property name="period" class="ptolemy.data.expr.Parameter" value="timeStep">
        </property>
        <property name="synchronizeToRealTime" class="ptolemy.data.expr.Parameter" value="false">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="{105.0, 65.0}">
        </property>
    </property>
    <property name="timeStep" class="ptolemy.data.expr.Parameter" value="60*60">
        <property name="_icon" class="ptolemy.vergil.icon.ValueIcon">
            <property name="_color" class="ptolemy.actor.gui.ColorAttribute" value="{0.0, 0.0, 1.0, 1.0}">
            </property>
        </property>
        <property name="_smallIconDescription" class="ptolemy.kernel.util.SingletonConfigurableAttribute">
            <configure>
      <svg>
        <text x="20" style="font-size:14; font-family:SansSerif; fill:blue" y="20">-P-</text>
      </svg>
    </configure>
        </property>
        <property name="_editorFactory" class="ptolemy.vergil.toolbox.VisibleParameterEditorFactory">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="{200.0, 55.0}">
        </property>
    </property>
    <property name="beginTime" class="ptolemy.data.expr.Parameter" value="0">
        <property name="_icon" class="ptolemy.vergil.icon.ValueIcon">
            <property name="_color" class="ptolemy.actor.gui.ColorAttribute" value="{0.0, 0.0, 1.0, 1.0}">
            </property>
        </property>
        <property name="_smallIconDescription" class="ptolemy.kernel.util.SingletonConfigurableAttribute">
            <configure>
      <svg>
        <text x="20" style="font-size:14; font-family:SansSerif; fill:blue" y="20">-P-</text>
      </svg>
    </configure>
        </property>
        <property name="_editorFactory" class="ptolemy.vergil.toolbox.VisibleParameterEditorFactory">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="{200.0, 75.0}">
        </property>
    </property>
    <property name="endTime" class="ptolemy.data.expr.Parameter" value="365*24*3600">
        <property name="_icon" class="ptolemy.vergil.icon.ValueIcon">
            <property name="_color" class="ptolemy.actor.gui.ColorAttribute" value="{0.0, 0.0, 1.0, 1.0}">
            </property>
        </property>
        <property name="_smallIconDescription" class="ptolemy.kernel.util.SingletonConfigurableAttribute">
            <configure>
      <svg>
        <text x="20" style="font-size:14; font-family:SansSerif; fill:blue" y="20">-P-</text>
      </svg>
    </configure>
        </property>
        <property name="_editorFactory" class="ptolemy.vergil.toolbox.VisibleParameterEditorFactory">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="{200.0, 95.0}">
        </property>
    </property>
    <property name="_windowProperties" class="ptolemy.actor.gui.WindowPropertiesAttribute" value="{bounds={472, 481, 1307, 716}, maximized=false}">
    </property>
    <property name="_vergilSize" class="ptolemy.actor.gui.SizeAttribute" value="[1093, 625]">
    </property>
    <property name="_vergilZoomFactor" class="ptolemy.data.expr.ExpertParameter" value="1.0000000000000007">
    </property>
    <property name="_vergilCenter" class="ptolemy.data.expr.ExpertParameter" value="{231.5000000000004, 321.50000000000017}">
    </property>
    <property name="annotation" class="ptolemy.kernel.util.Attribute">
        <property name="_hideName" class="ptolemy.kernel.util.SingletonAttribute">
        </property>
        <property name="_iconDescription" class="ptolemy.kernel.util.SingletonConfigurableAttribute">
            <configure><svg><text x="20" y="20" style="font-size:14; font-family:SansSerif; fill:darkgray">Author: Michael Wetter</text></svg></configure>
        </property>
        <property name="_smallIconDescription" class="ptolemy.kernel.util.SingletonConfigurableAttribute">
            <configure>
      <svg>
        <text x="20" style="font-size:14; font-family:SansSerif; fill:blue" y="20">-A-</text>
      </svg>
    </configure>
        </property>
        <property name="_controllerFactory" class="ptolemy.vergil.basic.NodeControllerFactory">
        </property>
        <property name="_editorFactory" class="ptolemy.vergil.toolbox.AnnotationEditorFactory">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[-538.0, 905.0]">
        </property>
    </property>
    <entity name="Algoritmo Regras" class="lbnl.actor.lib.Simulator">
        <property name="programName" class="ptolemy.data.expr.FileParameter" value="/usr/local/MATLAB/MATLAB_Production_Server/R2015a/bin/matlab">
        </property>
        <property name="programArguments" class="ptolemy.data.expr.Parameter" value="&quot;-nosplash -logfile matlab.log -r simulateAndExit&quot;">
        </property>
        <property name="workingDirectory" class="ptolemy.data.expr.FileParameter" value=".">
        </property>
        <property name="socketTimeout" class="ptolemy.data.expr.Parameter" value="3000000">
            <display name="socketTimeout [milliseconds]"/>
        </property>
        <property name="SimulatorIcon" class="ptolemy.vergil.icon.EditorIcon">
            <property name="rectangle" class="ptolemy.vergil.kernel.attributes.RectangleAttribute">
                <property name="_location" class="ptolemy.kernel.util.Location" value="[0.0, 0.0]">
                </property>
                <property name="width" class="ptolemy.data.expr.Parameter" value="60">
                </property>
                <property name="height" class="ptolemy.data.expr.Parameter" value="40">
                </property>
                <property name="centered" class="ptolemy.data.expr.Parameter" value="true">
                </property>
                <property name="fillColor" class="ptolemy.actor.gui.ColorAttribute" value="{1.0, 1.0, 1.0, 1.0}">
                </property>
            </property>
            <property name="_windowProperties" class="ptolemy.actor.gui.WindowPropertiesAttribute" value="{bounds={392, 341, 813, 506}, maximized=false}">
            </property>
            <property name="_vergilSize" class="ptolemy.actor.gui.SizeAttribute" value="[600, 400]">
            </property>
            <property name="_vergilZoomFactor" class="ptolemy.data.expr.ExpertParameter" value="4.0">
            </property>
            <property name="_vergilCenter" class="ptolemy.data.expr.ExpertParameter" value="{0.0, 0.0}">
            </property>
            <property name="Annotation" class="ptolemy.vergil.kernel.attributes.TextAttribute">
                <property name="textSize" class="ptolemy.data.expr.Parameter" value="12">
                </property>
                <property name="text" class="ptolemy.kernel.util.StringAttribute" value="Simulator">
                </property>
                <property name="_location" class="ptolemy.kernel.util.Location" value="[-30.0, -9.0]">
                </property>
            </property>
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="{10.0, 335.0}">
        </property>
        <port name="input" class="ptolemy.actor.TypedIOPort">
            <property name="input"/>
            <property name="_type" class="ptolemy.actor.TypeAttribute" value="[double]">
            </property>
        </port>
        <port name="output" class="ptolemy.actor.TypedIOPort">
            <property name="output"/>
            <property name="_type" class="ptolemy.actor.TypeAttribute" value="[double]">
            </property>
        </port>
    </entity>
    <entity name="EnergyPlus Regras" class="lbnl.actor.lib.Simulator">
        <property name="programName" class="ptolemy.data.expr.FileParameter" value="/usr/local/EnergyPlus-8-7-0/runenergyplus">
        </property>
        <property name="programArguments" class="ptolemy.data.expr.Parameter" value="&quot;SmOffPSZ BRA_RS_Cangucu.869930_INMET&quot;">
        </property>
        <property name="workingDirectory" class="ptolemy.data.expr.FileParameter" value="ePlus">
        </property>
        <property name="simulationLogFile" class="ptolemy.data.expr.FileParameter" value="ePlus/simulation.log">
        </property>
        <property name="socketTimeout" class="ptolemy.data.expr.Parameter" value="3000000">
            <display name="socketTimeout [milliseconds]"/>
        </property>
        <property name="SimulatorIcon" class="ptolemy.vergil.icon.EditorIcon">
            <property name="rectangle" class="ptolemy.vergil.kernel.attributes.RectangleAttribute">
                <property name="_location" class="ptolemy.kernel.util.Location" value="[0.0, 0.0]">
                </property>
                <property name="width" class="ptolemy.data.expr.Parameter" value="60">
                </property>
                <property name="height" class="ptolemy.data.expr.Parameter" value="40">
                </property>
                <property name="centered" class="ptolemy.data.expr.Parameter" value="true">
                </property>
                <property name="fillColor" class="ptolemy.actor.gui.ColorAttribute" value="{1.0, 1.0, 1.0, 1.0}">
                </property>
            </property>
            <property name="_windowProperties" class="ptolemy.actor.gui.WindowPropertiesAttribute" value="{bounds={392, 341, 813, 506}, maximized=false}">
            </property>
            <property name="_vergilSize" class="ptolemy.actor.gui.SizeAttribute" value="[600, 400]">
            </property>
            <property name="_vergilZoomFactor" class="ptolemy.data.expr.ExpertParameter" value="4.0">
            </property>
            <property name="_vergilCenter" class="ptolemy.data.expr.ExpertParameter" value="{0.0, 0.0}">
            </property>
            <property name="Annotation" class="ptolemy.vergil.kernel.attributes.TextAttribute">
                <property name="textSize" class="ptolemy.data.expr.Parameter" value="12">
                </property>
                <property name="text" class="ptolemy.kernel.util.StringAttribute" value="Simulator">
                </property>
                <property name="_location" class="ptolemy.kernel.util.Location" value="[-30.0, -9.0]">
                </property>
            </property>
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[290.5, 335.0]">
        </property>
        <port name="input" class="ptolemy.actor.TypedIOPort">
            <property name="input"/>
            <property name="_type" class="ptolemy.actor.TypeAttribute" value="[double]">
            </property>
        </port>
        <port name="output" class="ptolemy.actor.TypedIOPort">
            <property name="output"/>
            <property name="_type" class="ptolemy.actor.TypeAttribute" value="[double]">
            </property>
        </port>
    </entity>
    <entity name="SimulationTime" class="ptolemy.actor.lib.gui.MonitorValue">
        <doc>Monitor and display values</doc>
        <property name="displayWidth" class="ptolemy.data.expr.Parameter" value="20">
        </property>
        <property name="_icon" class="ptolemy.vergil.icon.UpdatedValueIcon">
            <property name="attributeName" class="ptolemy.kernel.util.StringAttribute" value="value">
            </property>
            <property name="displayWidth" class="ptolemy.data.expr.Parameter" value="displayWidth">
            </property>
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[-85.0, 805.0]">
        </property>
    </entity>
    <entity name="Expression" class="ptolemy.actor.lib.Expression">
        <property name="expression" class="ptolemy.kernel.util.StringAttribute" value="input/86400">
        </property>
        <property name="_icon" class="ptolemy.vergil.icon.BoxedValueIcon">
            <property name="attributeName" class="ptolemy.kernel.util.StringAttribute" value="expression">
            </property>
            <property name="displayWidth" class="ptolemy.data.expr.Parameter" value="60">
            </property>
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[-303.0, 805.0]">
        </property>
        <port name="input" class="ptolemy.actor.TypedIOPort">
            <property name="input"/>
        </port>
    </entity>
    <entity name="CurrentTime" class="ptolemy.actor.lib.CurrentTime">
        <doc>Output the current time.</doc>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[-465.0, 805.0]">
        </property>
    </entity>
    <entity name="WallClockTime" class="ptolemy.actor.lib.WallClockTime">
        <property name="_location" class="ptolemy.kernel.util.Location" value="[-325.0, 875.0]">
        </property>
    </entity>
    <entity name="RunTime" class="ptolemy.actor.lib.gui.MonitorValue">
        <doc>Monitor and display values</doc>
        <property name="displayWidth" class="ptolemy.data.expr.Parameter" value="20">
        </property>
        <property name="_icon" class="ptolemy.vergil.icon.UpdatedValueIcon">
            <property name="attributeName" class="ptolemy.kernel.util.StringAttribute" value="value">
            </property>
            <property name="displayWidth" class="ptolemy.data.expr.Parameter" value="displayWidth">
            </property>
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[-90.0, 865.0]">
        </property>
    </entity>
    <relation name="relation" class="ptolemy.actor.TypedIORelation">
        <property name="width" class="ptolemy.data.expr.Parameter" value="1">
        </property>
        <vertex name="vertex1" value="[145.0, 335.0]">
        </vertex>
        <property name="color" class="ptolemy.actor.gui.ColorAttribute">
        </property>
    </relation>
    <relation name="relation9" class="ptolemy.actor.TypedIORelation">
        <property name="width" class="ptolemy.data.expr.Parameter" value="1">
        </property>
        <vertex name="vertex1" value="[365.5, 270.0]">
        </vertex>
        <property name="color" class="ptolemy.actor.gui.ColorAttribute">
        </property>
    </relation>
    <relation name="relation11" class="ptolemy.actor.TypedIORelation">
        <property name="width" class="ptolemy.data.expr.Parameter" value="1">
        </property>
        <property name="color" class="ptolemy.actor.gui.ColorAttribute">
        </property>
    </relation>
    <relation name="relation4" class="ptolemy.actor.TypedIORelation">
        <property name="width" class="ptolemy.data.expr.Parameter" value="1">
        </property>
        <property name="color" class="ptolemy.actor.gui.ColorAttribute">
        </property>
    </relation>
    <relation name="relation5" class="ptolemy.actor.TypedIORelation">
        <property name="width" class="ptolemy.data.expr.Parameter" value="1">
        </property>
        <vertex name="vertex1" value="[-390.0, 805.0]">
        </vertex>
        <property name="color" class="ptolemy.actor.gui.ColorAttribute">
        </property>
    </relation>
    <link port="Algoritmo Regras.input" relation="relation9"/>
    <link port="Algoritmo Regras.output" relation="relation"/>
    <link port="EnergyPlus Regras.input" relation="relation"/>
    <link port="EnergyPlus Regras.output" relation="relation9"/>
    <link port="SimulationTime.input" relation="relation11"/>
    <link port="Expression.output" relation="relation11"/>
    <link port="Expression.input" relation="relation5"/>
    <link port="CurrentTime.output" relation="relation5"/>
    <link port="WallClockTime.output" relation="relation4"/>
    <link port="WallClockTime.trigger" relation="relation5"/>
    <link port="RunTime.input" relation="relation4"/>
</entity>
